{% use "bootstrap_4_horizontal_layout.html.twig" %}

{% block selectorcreate_widget %}
<div id="selectorcreate_{{ uuid }}" class="selectorcreate">
    <div class="selectorcreate_decision mb-2">
        {{ form_widget(form.decision) }}
    </div>
    <div class="selectorcreate_selection">
        {{ form_widget(form.selection) }}
    </div>
    <div class="selectorcreate_creation">
        {{ form_widget(form.creation) }}
    </div>
</div>
{% endblock selectorcreate_widget %}

{% block pleiades_widget %}
<div class="input-group">
    {{- form_widget(form) -}}
    <div class="input-group-append">
        <button class="btn btn-sm btn-outline-primary pleiades_search">{{ search_label|trans }}</button>
        <button class="btn btn-sm btn-outline-danger pleiades_clear">{{ clear_label|trans }}</button>
    </div>
    <br />
</div>
<small class="form-text text-danger pleiades-error"></small>
{% endblock pleiades_widget %}