{% extends 'page.html.twig' %}
{% block title %}
{{ 'pages.home.title'|trans }}
{% endblock %}
{% block content %}
<h4 class="text-center">
    {{ 'pages.home.logged_as'|trans }} {{ user_name }}
</h4>
<section id="homepage">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="homeblock p-3 mx-2 my-4 row">
                <div class="col-2">
                    <i class="fas fa-3x fa-fw fa-cogs"></i>
                </div>
                <div class="col-10">
                    <h2>{{ 'pages.home.tools'|trans }}</h2>
                    <p class="lead text-right">
                        <a href="https://map-polytheisms.huma-num.fr/ressources/outils/analyse-de-reseaux/"
                            target="_blank" rel="noopener" class="btn btn-sm">
                            {{ 'pages.home.network_analysis'|trans }}
                        </a>
                        <a href="https://map-polytheisms.huma-num.fr/ressources/outils/webmapping/" target="_blank"
                            rel="noopener" class="btn btn-sm">
                            {{ 'pages.home.webmapping'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="homeblock p-3 mx-2 my-4 row">
                <div class="col-2">
                    <i class="fas fa-3x fa-fw fa-book-open"></i>
                </div>
                <div class="col-10">
                    <h2>{{ 'pages.home.bibliography'|trans }}</h2>
                    <p class="lead text-right">
                        <a href="https://map-polytheisms.huma-num.fr/ressources/bibliographie" target="_blank"
                            rel="noopener" class="btn btn-sm">
                            {{ 'pages.home.display'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="homeblock p-3 mx-2 my-4 row">
                <div class="col-2">
                    <i class="fas fa-3x fa-fw fa-newspaper"></i>
                </div>
                <div class="col-10">
                    <h2>{{ 'pages.home.publications'|trans }}</h2>
                    <p class="lead text-right">
                        <a href="https://map-polytheisms.huma-num.fr/ressources/publications/" target="_blank"
                            rel="noopener" class="btn btn-sm">
                            {{ 'pages.home.display'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="homeblock p-3 mx-2 my-4 row">
                <div class="col-2">
                    <i class="fas fa-3x fa-fw fa-globe"></i>
                </div>
                <div class="col-10">
                    <h2>{{ 'pages.home.online_resources'|trans }}</h2>
                    <p class="lead text-right">
                        <a href="https://map-polytheisms.huma-num.fr/ressources/online-resources" target="_blank"
                            rel="noopener" class="btn btn-sm">
                            {{ 'pages.home.display'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}