{% extends 'page.html.twig' %}
{% block title %}
    {{ 'pages.home.title'|trans }}
{% endblock %}
{% block content %}
    {% if user_name != null %}
        <h4 class="text-center">
            {{ 'pages.home.logged_as'|trans }}
            {{ user_name }}
        </h4>
    {% endif %}
    <section id="homepage">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-4">
                <div class="homeblock px-1 py-3 mx-2 my-3 row">
                    <div class="col-md-2">
                        <i class="fas fa-fw fa-2x {{ icons.source }}"></i>
                    </div>
                    <div class="col-md-10">
                        <h3>
                            <a href="{{ url('source_list') }}">
                                <span class="counter">
                                    {{ counters.source|number_format(0, '.', ',') }}
                                </span>
                                {{ 'nav.source_list'|trans }}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-10 col-lg-4">
                <div class="homeblock px-1 py-3 mx-2 my-3 row">
                    <div class="col-md-2">
                        <i class="fas fa-fw fa-2x {{ icons.attestation }}"></i>
                    </div>
                    <div class="col-md-10">
                        <h3>
                            <a href="{{ url('attestation_list') }}">
                                <span class="counter">
                                    {{ counters.attestation|number_format(0, '.', ',') }}
                                </span>
                                {{ 'nav.attestation'|trans }}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-10 col-lg-4">
                <div class="homeblock px-1 py-3 mx-2 my-3 row">
                    <div class="col-md-2">
                        <i class="fas fa-fw fa-2x {{ icons.element }}"></i>
                    </div>
                    <div class="col-md-10">
                        <h3>
                            <a href="{{ url('element_list') }}">
                                <span class="counter">
                                    {{ counters.element|number_format(0, '.', ',') }}
                                </span>
                                {{ 'nav.element'|trans }}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="homeblock px-1 py-3 mx-2 my-3 row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span class="collapsible-icon cursor-pointer text-muted mr-3" data-toggle="collapse" data-target="#corpus-state" aria-expanded="false" aria-controls="corpus-state">
                                    <i class="fas fa-fw fa-2x fa-plus d-inline"></i>
                                    <i class="fas fa-fw fa-2x fa-minus d-none"></i>
                                </span>
                                <h3 class="cursor-pointer d-inline-block" id="corpus-state-title" data-toggle="collapse" data-target="#corpus-state" aria-expanded="false" aria-controls="corpus-state">
                                    {{ 'pages.home.corpus_state'|trans }}
                                </h3>
                            </div>
                        </div>
                        <div class="row collapse" id="corpus-state" aria-labelledby="corpus-state-title">
                            <ul class="list-group w-100"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-lg-6 col-xl-4">
                <div class="homeblock p-3 mx-2 my-4 row">
                    <div class="col-md-2">
                        <i class="fas fa-3x fa-fw fa-cogs"></i>
                    </div>
                    <div class="col-md-10">
                        <h2>{{ 'pages.home.tools'|trans }}</h2>
                        <p class="lead text-right">
                            <a href="https://map-polytheisms.huma-num.fr/ressources/outils/analyse-de-reseaux/" target="_blank" rel="noopener" class="btn btn-sm">
                                {{ 'pages.home.network_analysis'|trans }}
                            </a>
                            <a href="{{ webmapping_url }}" target="_blank" rel="noopener" class="btn btn-sm">
                                {{ 'pages.home.webmapping'|trans }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-lg-6 col-xl-4">
                <div class="homeblock p-3 mx-2 my-4 row">
                    <div class="col-md-2">
                        <i class="fas fa-3x fa-fw fa-book-open"></i>
                    </div>
                    <div class="col-md-10">
                        <h2>{{ 'pages.home.bibliography'|trans }}</h2>
                        <p class="lead text-right">
                            <a href="https://map-polytheisms.huma-num.fr/ressources/bibliographie" target="_blank" rel="noopener" class="btn btn-sm">
                                {{ 'pages.home.display'|trans }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-lg-6 col-xl-4">
                <div class="homeblock p-3 mx-2 my-4 row">
                    <div class="col-md-2">
                        <i class="fas fa-3x fa-fw fa-newspaper"></i>
                    </div>
                    <div class="col-md-10">
                        <h2>{{ 'pages.home.publications'|trans }}</h2>
                        <p class="lead text-right">
                            <a href="https://map-polytheisms.huma-num.fr/ressources/publications/" target="_blank" rel="noopener" class="btn btn-sm">
                                {{ 'pages.home.display'|trans }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-lg-6 col-xl-4">
                <div class="homeblock p-3 mx-2 my-4 row">
                    <div class="col-md-2">
                        <i class="fas fa-3x fa-fw fa-globe"></i>
                    </div>
                    <div class="col-md-10">
                        <h2>{{ 'pages.home.online_resources'|trans }}</h2>
                        <p class="lead text-right">
                            <a href="https://map-polytheisms.huma-num.fr/ressources/online-resources" target="_blank" rel="noopener" class="btn btn-sm">
                                {{ 'pages.home.display'|trans }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('page') }}
    <script type="text/javascript">
        $(document).ready(function () {
            const el = document.querySelectorAll('.counter');

            for (var i in el) {
                if (! el.hasOwnProperty(i)) {
                    continue;
                }
                counterUp(el[i], {
                    duration: 1000,
                    delay: 16
                })
            }

            // Corpus state collapse
            $('#corpus-state.collapse').one('show.bs.collapse', function () {
                // First time we expand, so we load the data
                // Show spinner on corpus state title
                $('#corpus-state-title').prepend($('<div class="spinner-border" role="status"></div>'));
                // Load data
                $.get("{{ url('corpus_state') }}").done(function (data) {
                    $('#corpus-state > ul').tree(data, "{{ 'pages.home.corpus_state_filter'|trans }}");
                }).always(function () {
                    $('#corpus-state-title').find('.spinner-border').remove();
                });
            });
            $('.collapse').on('show.bs.collapse', function () {
                var id = $(this).prop('id');
                var icons = $('span.collapsible-icon[data-target="#' + id + '"]').children();
                $(icons.get(0)).removeClass('d-inline').addClass('d-none');
                $(icons.get(1)).removeClass('d-none').addClass('d-inline');
            });
            $('.collapse').on('hide.bs.collapse', function () {
                var id = $(this).prop('id');
                var icons = $('span.collapsible-icon[data-target="#' + id + '"]').children();
                $(icons.get(0)).removeClass('d-none').addClass('d-inline');
                $(icons.get(1)).removeClass('d-inline').addClass('d-none');
            });
        });
    </script>
{% endblock %}
