<header class="container-fluid p-0" id="site-header">
    <div class="container">
        <div class="row">
            <div class="col-9 my-2 d-flex flex-column justify-content-center">
                <img src="{{ asset('build/images/logo-ercmap.png') }}" id="site-logo" />
            </div>
            <div class="col-3 py-3 d-flex flex-column justify-content-around">
                <div class="row">
                    <div class="col-6 pr-1">
                        <a href="{{url('profile')}}" class="btn w-100 mb-1">
                            <i class="fa fa-user"></i>
                            {{ 'nav.profile'|trans }}
                        </a>
                    </div>
                    <div class="col-6 pl-1">
                        {% if locale == "en" %}
                        <a href="{{url('language', {'lang':'fr'})}}" class="btn w-100">{{ 'languages.fr'|trans }}</a>
                        {% elseif locale == "fr" %}
                        <a href="{{url('language', {'lang':'en'})}}" class="btn w-100">{{ 'languages.en'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{{url('logout')}}" class="btn w-100 mb-1">
                            <i class="fa fa-sign-out-alt"></i>
                            {{ 'nav.logout'|trans }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="/admin" class="btn w-100 mt-1" target="_blank" rel="noopener">
                            <i class="fa fa-external-link-alt"></i>
                            {{ 'nav.go_to_admin'|trans }}
                        </a>
                        {% else %}
                        <a href="{{ showcase_website_url }}" class="btn w-100 mt-1" target="_blank" rel="noopener">
                            <i class="fa fa-external-link-alt"></i>
                            {{ 'nav.go_to_showcase_website'|trans }}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="navigation" class="container-fluid">
        {# <div class="container"> #}
        <div class="col-12">
            <ul class="nav nav-fill">
                <li class="nav-item {{ app.request.uri == url('home') ? 'active' : '' }}">
                    <a class="nav-link" href="{{ url('home') }}">
                        <i class="fas fa-place-of-worship"></i>
                        {{ 'nav.home'|trans }}
                    </a>
                </li>
                <li class="nav-item {{ controller_name == 'SourceController' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ url('source_list') }}">{{ 'nav.source_list'|trans }}</a>
                </li>
                <li class="nav-item {{ controller_name == 'AttestationController' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ url('attestation_list') }}">{{ 'nav.attestation'|trans }}</a>
                </li>
                <li class="nav-item {{ controller_name == 'ElementController' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ url('element_list') }}">{{ 'nav.element'|trans }}</a>
                </li>
                <li class="nav-item {{ controller_name == 'BibliographyController' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ url('bibliography_list') }}">{{ 'nav.bibliography'|trans }}</a>
                </li>
                <li class="nav-item {{ controller_name == 'RequetesController' ? 'active' : '' }}">
                    <a class="nav-link" href="{{ url('requetes_list') }}">{{ 'nav.requete'|trans }}</a>
                </li>
                <li class="nav-item {{ app.request.uri == url('contact') ? 'active' : '' }}">
                    <a class="nav-link" href="{{ url('contact') }}">
                        <i class="fas fa-envelope"></i>
                        {{ 'nav.contact'|trans }}
                    </a>
                </li>
            </ul>
        </div>
        {# </div> #}
    </nav>
</header>