{% extends 'authenticated.html.twig' %}
{% block title %}
{{ ('biblio.' ~ action)|trans }}{{ biblio is defined ? ' #'~biblio.id : ''}}
{% endblock %}
{% block content %}

{{ form_start(form, {'attr' : {'id': 'biblio'}} ) }}
{{ form_errors(form) }}

<div class="row justify-content-center">
    <div class="col-sm-3">
        {% include "partials/_formbuttons.html.twig" with {'exitUrl' : url('bibliography_list')} %}
    </div>
    <div class="col-sm-9"></div>
</div>
<hr />
{{ form_rest(form) }}
<hr />
<div class="form-group row">
    <div class="col-sm-12 text-center">
        {% include "partials/_formbuttons.html.twig" with {'exitUrl' : url('bibliography_list')} %}
    </div>
</div>
{{ form_end(form) }}

{% include "modals/confirmation.html.twig" with {
    'modalName': 'confirm_exit_dirty',
    'uuid': 'confirm_exit_dirty',
    'targetUrl': url('bibliography_list'),
    'method': 'GET',
    'confirmationLabel': 'generic.exit',
} %}

{{ include('partials/_backtotop.html.twig') }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {

        $('form#biblio').watchFormDirty({
            message: "{{ 'modals.confirm_exit_dirty.body'|trans }}",
            modal: $(".modal#confirm_exit_dirty"),
            exitLink: $('.exit-form-link')
        });

        $.fn.dependentFields({
            corpus: {
                conditionCallback: function (main) { return $(main).is(':checked'); },
                targetFinder: function (name, main) {
                    return main.parents('form').find('.dependent_field_' + name);
                }
            }
        });

    });
</script>
{% endblock %}