{% extends 'page.html.twig' %}
{% block title %}
{{ ('biblio.view')|trans({'%id%': bibliography.id}) }}
{% endblock %}
{% block content %}
<div class="text-center">
    <a href="{{ url('bibliography_edit', {'id': bibliography.id}) }}" class="btn btn-sm my-1 btn-warning">
        <i class="fas fa-fw fa-edit"></i>
        {{ 'generic.edit'|trans }}
    </a>
</div>
<hr />
{% include "display/bibliography.html.twig" with {'bibliography': bibliography} %}
<hr />
<div class="row">
    <div class="col-12 text-center">
        <a href=" {{ url('bibliography_list') }}" class="btn btn-secondary">{{ 'generic.back'|trans }}</a>
    </div>
</div>
{% endblock %}