{% extends 'authenticated.html.twig' %}

{% set action = action|default('list') %}
{% set title = title|default('element.'~action) %}
{% block title %}
{{ title|trans }}
{% endblock %}
{% block content %}
{% if action == 'list' %}
<div class="row">
    <div class="col-12 table-buttons">
        <a href=" {{ url('element_create') }}" class="btn btn-primary">{{ 'element.create'|trans }}</a>
        <button type="button" class="btn btn-warning clear-filter-button">
            {{ 'generic.clear_filters'|trans }}
        </button>
    </div>
</div>
{% endif %}
<table class="table table-striped table-hover table-bordered w-100 text-center list_table" id="element_list">
    <thead>
        <tr>
            <th scope="col">
                {{ 'generic.fields.id'|trans }}
            </th>
            <th scope="col">
                {{ 'element.fields.etat_absolu'|trans }}
            </th>
            <th scope="col">
                {{ 'element.fields.nature'|trans }}
            </th>
            <th scope="col">
                {{ 'element.fields.traductions'|trans }}
            </th>
            <th scope="col">
                {{ 'element.fields.categories_invariantes'|trans }}
            </th>
            <th scope="col">
                {{ 'generic.fields.date_creation'|trans }}
            </th>
            <th scope="col">
                {{ 'generic.fields.date_modification'|trans }}
            </th>
            <th scope="col">
                {{ 'generic.fields.to_translate'|trans }}
            </th>
            <th scope="col">
                {{ 'generic.actions'|trans }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for element in elements %}
        <tr>
            <th scope="row" class="px-0" data-order="{{ element.id }}">
                <a href="{{ url('element_show', {'id': element.id}) }}">
                    #{{ element.id }}
                </a>
                <br />
                <small>{{ 'generic.fields.version'|trans }}&nbsp;{{ element.version|default("?") }}</small>
            </th>
            <td>
                {{ element.etatAbsolu }}
            </td>
            <td>
                {{ element.natureElement is not null ? element.natureElement.nom(locale) : "" }}
            </td>
            <td>
                {{ element.concatTraductions(locale)|raw }}
            </td>
            <td>
                {{ element.concatCategories(locale)|raw }}
            </td>
            <td data-order="{{ element.dateCreation|date('U') }}">
                {{ element.dateCreation|date("locale_datetime"|trans) }}
                <br />
                <small>
                    {{ element.createur.prenomNom }}<br />
                </small>
            </td>
            <td data-order="{{ element.dateModification|date('U') }}">
                {{ element.dateModification|date("locale_datetime"|trans) }}
                <br />
                <small>
                    {{ element.dernierEditeur.prenomNom }}<br />
                </small>
            </td>
            <td>
                {{ element.traduireFr ? "languages.fr"|trans : "" }}
                {% if element.traduireFr and element.traduireEn %}
                <br />
                {% endif %}
                {{ element.traduireEn ? "languages.en"|trans : "" }}
            </td>
            <td class="py-0 px-1">
                <a href="{{ url('element_show', {'id': element.id}) }}" class="btn btn-sm btn-block my-1 btn-primary">
                    <i class="fas fa-fw fa-eye"></i>
                    {{ 'generic.view'|trans }}
                </a>
                <a href="{{ url('element_edit', {'id': element.id}) }}" class="btn btn-sm btn-block my-1 btn-warning">
                    <i class="fas fa-fw fa-edit"></i>
                    {{ 'generic.edit'|trans }}
                </a>
                {% set uuid = 'confirm_deletion_' ~ element.id ~ '_' ~ random() %}
                <button type="button" class="btn btn-sm btn-block my-1 btn-danger" id="delete-link-{{element.id}}"
                    data-toggle="modal" data-target="#{{ uuid }}">
                    <i class="fas fa-fw fa-trash"></i>
                    {{ 'generic.delete'|trans }}
                </button>
                {% include "modals/confirmation.html.twig" with {
                    'modalName': 'confirm_deletion',
                    'uuid': uuid,
                    'targetUrl': url('element_delete', {'id' : element.id}),
                    'confirmationLabel': 'generic.delete',
                    'csrfToken': 'delete_element_' ~ element.id,
                } %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{{ 'generic.fields.id'|trans }}</th>
            <th>{{ 'element.fields.etat_absolu'|trans }}</th>
            <th>{{ 'element.fields.nature'|trans }}</th>
            <th>{{ 'element.fields.traductions'|trans }}</th>
            <th>{{ 'element.fields.categories_invariantes'|trans }}</th>
            <th>{{ 'generic.fields.date_creation'|trans }}</th>
            <th>{{ 'generic.fields.date_modification'|trans }}</th>
            <th>{{ 'generic.fields.to_translate'|trans }}</th>
            <th></th>
        </tr>
    </tfoot>
</table>
{% if action == 'list' %}
<div class="row">
    <div class="col-12 table-buttons">
        <a href=" {{ url('element_create') }}" class="btn btn-primary">{{ 'element.create'|trans }}</a>
        <button type="button" class="btn btn-warning clear-filter-button">
            {{ 'generic.clear_filters'|trans }}
        </button>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#element_list tfoot th').each(function () {
            var title = $(this).text();
            if (title != "") {
                $(this).html(
                    '<input type="text" class="w-100 form-control form-control-sm" placeholder="{{"generic.search"|trans}}' +
                    ' ' + title + '" />'
                );
            }
        });
        var dt = $('#element_list').DataTable({
            autoWidth: true,
            lengthChange: true,
            scrollX: false,
            searching: true,
            ordering: true,
            columns: [null, null, null, null, null, null, null, null, {
                searchable: false,
                orderable: false,
                width: 110
            }],
            order: [
                [6, 'desc']
            ],
            language: $.parseJSON('{{ "datatable.language"|trans|raw }}'),
            pageLength: 10,
            lengthMenu: [
                [
                    10, 25, 50, -1
                ],
                [
                    10, 25, 50, "{{'datatable.all'|trans}}"
                ]
            ],
            buttons: [{
                extend: 'csv',
                filename: "{{ 'app_name'|trans }}-{{ 'element.list'|trans }}",
                text: "{{'generic.export_csv'|trans}}"
            }]
        });
        $('#element_list_wrapper select').removeClass('custom-select');
        dt.columns().every(function () {
            var me = this;
            $('input', this.footer()).on('keyup change', function () {
                if (me.search() !== this.value) {
                    me.search(this.value).draw();
                }
            })
        });
        dt.buttons().container().appendTo('.table-buttons');
        $('.clear-filter-button').on('click', function (e) {
            e.preventDefault();
            dt.columns().every(function () {
                $('input', this.footer()).val("").trigger('change');
            });
        })
    });
</script>
{% endblock %}