{% extends 'page.html.twig' %}
{% block title %}
    {{ ('element.view')|trans({'%id%': element.id}) }}
{% endblock %}
{% block content %}
    <div class="text-center">
        {% if is_granted('ROLE_MODERATOR') or (is_granted('ROLE_CONTRIBUTOR') and element.createur.id == app.user.id) %}
            <a href="{{ url('element_edit', {'id': element.id}) }}" class="btn btn-sm my-1 btn-warning">
                <i class="fas fa-fw fa-edit"></i>
                {{ 'generic.edit'|trans }}
            </a>
            <br/>
        {% endif %}
        <u>{{ 'generic.fields.lien_direct'|trans }}:</u>
        <a href="{{ app.request.uri }}">{{ app.request.uri }}</a>
        <br/>
        <br/>
        {% apply spaceless %}
        {{ 'generic.fields.date_creation'|trans }}&nbsp;:&nbsp;
        {{ element.dateCreation|date(('locale_datetime'|trans), "Europe/Paris") }}&nbsp;
        {{ 'generic.fields.by'|trans }}&nbsp;{{ element.createur.prenomNom }}
        {% endapply %}
        <br/>
        {% apply spaceless %}
        {{ 'generic.fields.date_modification'|trans }}&nbsp;:&nbsp;
        {{ element.dateModification|date(('locale_datetime'|trans), "Europe/Paris") }}&nbsp;
        {{ 'generic.fields.by'|trans }}&nbsp;{{ element.dernierEditeur.prenomNom }}
        {% endapply %}
        <br/>
    </div>
    <hr/>
    {% include "display/element.html.twig" with {'element': element, 'valid_attestations': valid_attestations} %}
    <hr/>
    <div class="row">
        <div class="col-12 text-center">
            <a href=" {{ url('element_list') }}" class="btn btn-secondary">{{ 'generic.back'|trans }}</a>
        </div>
    </div>
{% endblock %}
