{% extends 'base.html.twig' %}

{% block title %}{{'login_page.reset_password'|trans}}{% endblock %}

{% block bodyclass %}login-page{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center" style="margin-top: 100px">
        <div class="col-6 text-center">
            <img src="{{ asset('build/images/logo-ercmap.png') }}" class="w-100" />
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-6">
            <h2 class="text-center">
                {{'login_page.input_username'|trans}}
            </h2>
        </div>
    </div>
    {% set bags = {'error' : 'danger', 'warning' : 'warning', 'success': 'success'} %}
    {% for bag, color in bags %}
    {% for flashMessage in app.session.flashbag.get(bag) %}
    <div class="row justify-content-center">
        <div class="col-sm-6 alert alert-{{color}}" role="alert">
            <span class="badge badge-{{color}} text-uppercase">{{bag}}</span>
            {{ flashMessage|trans }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    <div class="row justify-content-center mt-4">
        <div class="col-8">
            <form method="post">
                <div class="form-group row">
                    <label class="col-form-label col-4 required" for="username">
                        {{ 'login_page.form.username_email'|trans }}
                    </label>
                    <div class="col-8">
                        <input type="text" id="username" name="username" required="required" class="form-control"
                            autocomplete="off">
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgotten_password') }}">
                <div class="form-group row">
                    <div class="col-12 text-center">
                        <button type="submit" id="send_link" name="send_link" class="btn-primary btn">
                            {{ 'login_page.form.send_link'|trans }}
                        </button>
                        <a href="{{ url('home') }}" class="btn btn-secondary btn-sm">
                            {{ 'generic.cancel'|trans }}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}