{% extends 'base.html.twig' %}

{% block title %}{{'login_page.login_required'|trans}}{% endblock %}

{% block bodyclass %}login-page{% endblock %}
{% block body %}
<div class="container">
    <div class="row justify-content-center" style="margin-top: 100px">
        <div class="col-8 text-center">
            <img src="{{ asset('build/images/logo-ercmap.png') }}" class="w-100" />
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-8">
            <h2 class="text-center">
                {{'login_page.access_database'|trans}}
                {% if env != "prod" %}
                <br>
                <span class="text-danger font-weight-bold">
                    ({{ 'test_database'|trans|upper }})
                </span>
                {% endif %}
            </h2>
        </div>
    </div>
    {% set bags = {'error' : 'danger', 'warning' : 'warning', 'success': 'success'} %}
    {% for bag, color in bags %}
    {% for flashMessage in app.session.flashbag.get(bag) %}
    <div class="row justify-content-center">
        <div class="col-sm-6 alert alert-{{color}}" role="alert">
            <span class="badge badge-{{color}} text-uppercase">{{bag}}</span>
            {{ flashMessage|trans }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    <div class="row justify-content-center mt-4">
        <div class="col-8">
            {{ form_start(form, {'attr' : {'id': 'loginform'}} ) }}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                <span class="badge badge-danger text-uppercase">
                    {{ 'generic.messages.error'|trans }}
                </span>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}
            <div class="form-group row">
                <label class="col-form-label col-4 text-right required" for="_username">
                    {{ 'login_page.form.username'|trans }}
                </label>
                <div class="col-6">
                    {{form_widget(form._username)}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4 text-right required" for="_password">
                    {{ 'login_page.form.password'|trans }}
                </label>
                <div class="col-6">
                    {{form_widget(form._password)}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-10 offset-4">
                    {{form_widget(form._remember_me)}}
                    <br />
                    {{form_widget(form.recaptcha)}}
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-group row">
                <div class="col-12 text-center">
                    <button type="submit" id="login" name="login" class="btn-primary btn">
                        {{ 'login_page.form.login'|trans }}
                    </button>
                </div>
            </div>
            {{form_end(form)}}

            <div class="form-group row">
                <div class="col-12 text-center">
                    <a href="{{ url('forgotten_password') }}" class="btn btn-sm btn-secondary">
                        {{ 'login_page.form.reset_password'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{# <script type="text/javascript">
    $(document).ready(function () {
        $.getScript("{{ constant('\\EWZ\\Bundle\\RecaptchaBundle\\Form\\Type\\EWZRecaptchaType::RECAPTCHA_API_JS_SERVER') }}", function () {
            Recaptcha.create("{{ form.recaptcha.get('public_key') }}", "recaptcha-container", {
                theme: "clean"
            });
        });
    }); #}
</script>
{% endblock %}