<div class="col-{{width}}" id="search-criteria">
    <div class="card border-color-map-yellow">
        <div class="card-header border-color-map-yellow text-center">
            <strong>{{ ('search.mode')|trans }}</strong>
            :
            {{ ('search.'~mode)|trans }}
            {% if resultsType is defined and resultsType is not null %}
                ({{ (resultsType ~ '.name')|trans }})
            {% endif %}
        </div>
        <div class="card-body p-1">
            {% if mode == 'simple' %}
                <blockquote class="blockquote text-center font-weight-bolder mb-0" style="letter-spacing: 0.1em;">
                    {{ criteria|join('')|replace({' ': '_'}) }}
                </blockquote>
            {% elseif mode == 'guided' or mode == 'elements' %}
                <div class="d-flex flex-sm-wrap justify-content-around">
                    {% for key, value in criteria %}
                        <div class="card">
                            {% if value is not iterable %}
                                {% set value = [value] %}
                            {% endif %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item background-map-yellow font-weight-bolder text-uppercase">
                                    {{ key }}</li>
                                {% for subvalue in value %}
                                    <li class="list-group-item">
                                        {{ subvalue|raw }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% elseif mode == 'advanced' %}
                <div class="d-flex flex-sm-wrap justify-content-around">
                    {% for key, value in criteria %}
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item background-map-yellow font-weight-bolder text-uppercase">
                                    {{ key }}
                                </li>
                                {% for subvalue in value %}

                                    {% if subvalue is iterable and subvalue.values is defined %}

                                        {% for subsubvalue in subvalue %}
                                            {% if loop.first %}
                                                <li class="list-group-item">
                                                    <strong>
                                                        <em>
                                                            {{ loop.parent.loop.index }}
                                                            {% if subsubvalue == "all" %}
                                                                {{ 'search.criteria_labels.all'|trans }}
                                                            {% endif %}
                                                        </em>
                                                    </strong>
                                                </li>
                                                {% if subsubvalue != 'all'  %}
                                                    <li class="list-group-item">
                                                        &rarr;
                                                        {{ subsubvalue|raw }}
                                                    </li>
                                                {% endif %}
                                            {% else %}
                                                <li class="list-group-item">
                                                    &rarr;
                                                    {{ subsubvalue|raw }}
                                                </li>
                                            {% endif %}

                                        {% endfor %}
                                    {% elseif subvalue is iterable and subvalue.value is defined %}
                                        <li class="list-group-item">
                                            {{ subvalue.value|raw }}
                                            {% if subvalue.mode|default('') == 'strict' %}
                                                <strong>
                                                    ({{ 'generic.fields.strict'|trans }})
                                                </strong>
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        {# If subvalue is not iterable #}
                                        <li class="list-group-item">
                                            {{ subvalue|raw }}
                                        </li>
                                    {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="card-footer border-color-map-yellow text-center">
            <strong>{{ ('search.results')|trans }}</strong>
            :
            <span id="search-results-count"></span>
        </div>
    </div>
</div>
