<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 d-inline-block text-truncate">{{ query.nom }}</h5>
        <small>{{ ('search.'~query.mode)|trans }}</small>
    </div>
    <div class="d-flex w-100 align-items-stretch">
        <div class="mb-1 flex-grow-1 d-flex flex-justify-content-start flex-wrap align-content-center">
            {% set criteria = query.criteria|json_decode(true) %}
            {% if query.mode == "simple" %}
            <div class="border border-color-map-yellow rounded p-2 mr-1 my-1">
                {{ criteria|join(' ') }}
            </div>
            {% else %}
            {% for label, values in criteria %}
            {% if label == 'datation' %}
            <div class="border border-color-map-yellow rounded p-2 mr-1 my-1">
                {{ 'search.criteria_labels.datation'|trans }}
                {% if values.exact is defined and values.exact == 'datation_exact' %}
                ({{'generic.fields.strict'|trans}})
                {% endif %}
                <span class="badge badge-primary">
                    {{ values|slice(0,2)|join(' / ') }}
                </span>
            </div>
            {% elseif label == 'names' or label == 'languages' %}
            <div class="border border-color-map-yellow rounded p-2 mr-1 my-1">
                {% set all = '' %}
                {% if criteria[label ~ '_mode']|default('one') == 'all' %}
                {% set all = '_all' %}
                {% endif %}
                {{ ('search.criteria_labels.'~label~all)|trans }}
                <span class="badge badge-primary">
                    {{ values|length }}
                </span>
            </div>
            {% elseif label == 'locations' or label == 'sourceTypes' or label == 'agents' %}
            <div class="border border-color-map-yellow rounded p-2 mr-1 my-1">
                {{ ('search.criteria_labels.'~label)|trans }}
                <span class="badge badge-primary">
                    {{ values|length }}
                </span>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="d-flex flex-column h-100 justify-content-center" class="query-actions">
            <button type="button" class="btn btn-primary mb-1 query-load-button" title="{{ 'generic.load'|trans }}"
                data-query-mode="{{query.mode}}" data-query-criteria="{{query.criteria|url_encode}}">
                <i class="fas fa-tasks fa-fw"></i>
            </button>
            {% set uuid = 'confirm_deletion_' ~ query.id ~ '_' ~ random() %}
            <button type="button" class="btn btn-danger" id="delete-link-{{query.id}}" data-toggle="modal"
                data-target="#{{ uuid }}" title="{{ 'generic.delete'|trans }}">
                <i class="fas fa-fw fa-trash"></i>
            </button>
            {% include "modals/confirmation.html.twig" with {
                'modalName': 'confirm_deletion',
                'uuid': uuid,
                'targetUrl': url('search_delete', {'id' : query.id}),
                'confirmationLabel': 'generic.delete',
                'csrfToken': 'delete_query_' ~ query.id,
            } %}

        </div>

    </div>
</div>