{% set removeCriteriaButton %}
<div class="col-sm-1">
    <button class="btn btn-warning btn-sm mx-2 remove-criteria-button" type="button">
        <i class="fas fa-times fa-fw" aria-hidden="true"></i>
        <span class="sr-only">
            {{ 'search.remove_criteria'|trans }}
        </span>
    </button>
</div>
{% endset %}

<div id="form-templates" class="d-none">
    <div class="form-group my-1 row align-items-center new-criteria" id="new-criteria-template">
        <label for="inputNewCriteria" class="col-sm-3 col-form-label">{{ 'search.choose_criteria'|trans }}</label>
        <div class="col">
            <select class="form-control autocomplete" name="new_criteria" id="inputNewCriteria"
                data-placeholder="{{('autocomplete.select_element')|trans}}">
                <option value></option>
                {% for criteria in criteria_list %}
                {% if criteria.children is defined %}
                <optgroup label="{{criteria.label}}">
                    {% if criteria.type != null %}
                    <option value="{{criteria.key}}">{{criteria.label}}</option>
                    {% endif %}
                    {% for subcriteria in criteria.children %}
                    <option value="{{subcriteria.key}}">{{subcriteria.label}}</option>
                    {% endfor %}
                </optgroup>
                {% else %}
                <option value="{{criteria.key}}">{{criteria.label}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-success btn-sm mt-1 mx-2" type="button" name="confirm">
                <i class="fas fa-check fa-fw" aria-hidden="true"></i>
                {{ 'generic.confirm'|trans }}
            </button>
            <button class="btn btn-secondary btn-sm mt-1 mx-2" type="button" name="cancel">
                <i class="fas fa-times fa-fw" aria-hidden="true"></i>
                {{ 'generic.cancel'|trans }}
            </button>
        </div>
    </div>
    <div class="form-group my-1 row align-items-center" id="select-template">
        <label class="col-sm-3 col-form-label" for="inputNameSelect"></label>
        <div class="col">
            <select class="form-control autocomplete" name="name" id="inputNameSelect" size="1" multiple
                data-placeholder="{{('autocomplete.select_multiple')|trans}}">
                <option value></option>
            </select>
        </div>
        <div class="col-sm-2 select-strict d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="name_mode" name="name_mode" value="all">
                <label class="custom-control-label" for="name_mode">{{ 'generic.fields.require_all'|trans }}</label>
            </div>
        </div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="nameselect-template">
        <label class="col-sm-3 col-form-label" for="inputNameSelect"></label>
        <div class="col">
            <select class="form-control autocomplete" name="name" id="inputNameSelect" size="1" multiple
                data-placeholder="{{('autocomplete.select_multiple')|trans}}">
                <option value></option>
            </select>
        </div>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch select-strict">
                <input type="checkbox" class="custom-control-input" id="name_mode" name="name_mode" value="all">
                <label class="custom-control-label" for="names_mode">{{ 'generic.fields.require_all'|trans }}</label>
            </div>
            <div class="custom-control custom-switch nameselect-indirect">
                <input type="checkbox" class="custom-control-input" id="name_indirect" name="name_indirect"
                    value="indirect">
                <label class="custom-control-label" for="name_indirect">{{ ('element.fields.theonymes')|trans
                    }}</label>
                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true"
                    title="{{ 'search.help.theonymes'|trans|raw }}"></i>
            </div>
        </div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="locationselect-template">
        <label class="col-sm-3 col-form-label" for="inputNameSelect"></label>
        <div class="col">
            <select class="form-control autocomplete" name="name" id="inputNameSelect" size="1" multiple
                data-placeholder="{{('autocomplete.select_multiple')|trans}}">
                <option value></option>
            </select>
        </div>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch select-strict">
                <input type="checkbox" class="custom-control-input" id="name_mode" name="name_mode" value="all">
                <label class="custom-control-label" for="name_mode">{{ 'generic.fields.require_all'|trans }}</label>
            </div>
            <div class="custom-control custom-switch locationselect-direct">
                <input type="checkbox" class="custom-control-input" id="name_direct" name="name_direct" value="direct">
                <label class="custom-control-label" for="name_direct">{{ ('generic.fields.direct')|trans }}</label>
                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true"
                    title="{{ 'search.help.direct_locations'|trans|raw }}"></i>
            </div>
        </div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="text-template">
        <label class="col-sm-3 col-form-label" for="inputNameText"></label>
        <div class="col">
            <input class="form-control flex-grow-1" type="text" name="name" id="inputNameText" />
        </div>
        <div class="col-sm-2 text-strict d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="name_mode" name="name_mode" value="strict">
                <label class="custom-control-label" for="name_mode">{{ ('generic.fields.strict')|trans }}</label>
            </div>
        </div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="range-template">
        <label class="col-sm-3 col-form-label" for="inputNameRange"></label>
        <div class="col">
            <select class="form-control autocomplete-single" name="name" id="inputNameOperator" size="1"
                data-placeholder="{{('autocomplete.select_single')|trans}}">
                <option value=""></option>
                <option value="eq">=</option>
                <option value="neq">&ne;</option>
                <option value="lt">&lt;</option>
                <option value="lte">&le;</option>
                <option value="gt">&gt;</option>
                <option value="gte">&ge;</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control autocomplete" name="name" id="inputNameValue" size="1"
                data-placeholder="{{('autocomplete.select_single')|trans}}">
                <option value></option>
            </select>
        </div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="operation-template">
        <label class="col-sm-3 col-form-label" for="inputNameOperation"></label>
        <div class="col">
            <select class="form-control autocomplete-single" name="name" id="inputNameOperator" size="1"
                data-placeholder="{{('autocomplete.select_single')|trans}}">
                <option value=""></option>
                <option value="eq">=</option>
                <option value="neq">&ne;</option>
                <option value="lt">&lt;</option>
                <option value="lte">&le;</option>
                <option value="gt">&gt;</option>
                <option value="gte">&ge;</option>
            </select>
        </div>
        <div class="col">
            <input type="number" min="0" step="1" class="form-control" name="name" id="inputNameValue">
        </div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="datation-template">
        <label class="col-sm-3 col-form-label" for="inputPostQuem#X#">{{ ('generic.fields.datation')|trans }}</label>
        <div class="col">
            <input type="number" step="1" class="form-control" name="datation[#X#][post_quem]" id="inputPostQuem#X#"
                placeholder="{{('datation.fields.post_quem')|trans}}">
        </div>
        <div class="col">
            <input type="number" step="1" class="form-control" name="datation[#X#][ante_quem]" id="inputAnteQuem#X#"
                placeholder="{{('datation.fields.ante_quem')|trans}}">
        </div>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="inputDatationExact#X#"
                    name="datation[#X#][exact]" value="datation_exact" checked>
                <label class="custom-control-label" for="inputDatationExact#X#">
                    {{ ('generic.fields.strict')|trans }}
                </label>
            </div>
        </div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="prosepoetry-template">
        <label class="col-sm-3 col-form-label">{{ 'attestation.fields.prose_poesie'|trans }}</label>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputProse#X#" name="prosePoetry[#X#][values][]"
                    value="prose">
                <label class="custom-control-label" for="inputProse#X#">
                    {{ ('attestation.fields.prose')|trans }}
                </label>
            </div>
        </div>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputPoetry#X#"
                    name="prosePoetry[#X#][values][]" value="poesie">
                <label class="custom-control-label" for="inputPoetry#X#">
                    {{ ('attestation.fields.poesie')|trans }}
                </label>
            </div>
        </div>
        <div class="col">&nbsp;</div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="locationreal-template">
        <label class="col-sm-3 col-form-label">{{ 'generic.fields.localisation_reelle'|trans }}</label>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputRealYes#X#"
                    name="locationReal[#X#][values][]" value="yes">
                <label class="custom-control-label" for="inputRealYes#X#">
                    {{ ('generic.choices.oui')|trans }}
                </label>
            </div>
        </div>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputRealNo#X#"
                    name="locationReal[#X#][values][]" value="no">
                <label class="custom-control-label" for="inputRealNo#X#">
                    {{ ('generic.choices.non')|trans }}
                </label>
            </div>
        </div>
        <div class="col">&nbsp;</div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="iconography-template">
        <label class="col-sm-3 col-form-label">{{ 'source.fields.iconographie'|trans }}</label>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputIconographyYes#X#"
                    name="iconography[#X#][values][]" value="yes">
                <label class="custom-control-label" for="inputIconographyYes#X#">
                    {{ ('generic.choices.oui')|trans }}
                </label>
            </div>
        </div>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputIconographyNo#X#"
                    name="iconography[#X#][values][]" value="no">
                <label class="custom-control-label" for="inputIconographyNo#X#">
                    {{ ('generic.choices.non')|trans }}
                </label>
            </div>
        </div>
        <div class="col">&nbsp;</div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="suffix-template">
        <label class="col-sm-3 col-form-label">{{ 'element.fields.suffixe'|trans }}</label>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputSuffixYes#X#" name="suffix[#X#][values][]"
                    value="yes">
                <label class="custom-control-label" for="inputSuffixYes#X#">
                    {{ ('generic.choices.oui')|trans }}
                </label>
            </div>
        </div>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputSuffixNo#X#" name="suffix[#X#][values][]"
                    value="no">
                <label class="custom-control-label" for="inputSuffixNo#X#">
                    {{ ('generic.choices.non')|trans }}
                </label>
            </div>
        </div>
        <div class="col">&nbsp;</div>
        {{ removeCriteriaButton }}
    </div>
    <div class="form-group my-1 row align-items-center" id="elementsemitic-template">
        <label class="col-sm-3 col-form-label">{{ 'search.criteria_labels.element_semitique'|trans }}</label>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputSemiticNo#X#"
                    name="elementSemitic[#X#][values][]" value="no">
                <label class="custom-control-label" for="inputSemiticNo#X#">
                    {{ ('generic.languages.greek')|trans }}
                </label>
            </div>
        </div>
        <div class="col-sm-2 d-flex flex-column justify-content-around align-items-center">
            <div class="custom-control custom-switch mr-2">
                <input type="checkbox" class="custom-control-input" id="inputSemiticYes#X#"
                    name="elementSemitic[#X#][values][]" value="yes">
                <label class="custom-control-label" for="inputSemiticYes#X#">
                    {{ ('generic.languages.semitic')|trans }}
                </label>
            </div>
        </div>
        <div class="col">&nbsp;</div>
        {{ removeCriteriaButton }}
    </div>
</div>