{% extends 'page.html.twig' %}
{% block title %}
{{ ('search.title')|trans }}
{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('search_page') }}
{% endblock %}
{% block content %}
<div class="row my-3">
    <div class="col-sm-12 col-md-8 text-center" id="search-panel">
        <ul class="nav nav-pills nav-fill" id="searchTabLinks" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="simple-tab" data-toggle="tab" href="#simple" role="tab"
                    aria-controls="simple" aria-selected="true">
                    {{ ('search.simple')|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="guided-tab" data-toggle="tab" href="#guided" role="tab" aria-controls="guided"
                    aria-selected="false">
                    {{ ('search.guided')|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab"
                    aria-controls="advanced" aria-selected="false">
                    {{ ('search.advanced')|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="elements-tab" data-toggle="tab" href="#elements" role="tab"
                    aria-controls="elements" aria-selected="false">
                    {{ ('search.elements')|trans }}
                </a>
            </li>
        </ul>
        <div class="tab-content" id="searchTabs">
            <div class="tab-pane fade p-3 show active" id="simple" role="tabpanel" aria-labelledby="simple-tab">
                <form action="{{ url('search_simple') }}" class="form-inline" method="post">
                    <input class="form-control form-control-lg mx-2 flex-grow-1" type="text" name="search_value"
                        placeholder="" />
                    <button class="btn btn-primary mx-2" type="submit" name="search">
                        <i class="fas fa-search fa-fw"></i>
                        {{ 'generic.search'|trans }}
                    </button>
                </form>
            </div>
            <div class="tab-pane fade p-3" id="guided" role="tabpanel" aria-labelledby="guided-tab">
                <form action="{{ url('search_guided') }}" method="post">
                    <div class="form-group row">
                        <label for="inputName"
                            class="col-sm-2 col-form-label">{{ ('generic.fields.nom')|trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control autocomplete" name="names[]" id="inputName" multiple
                                data-placeholder="{{('autocomplete.select_multiple')|trans}}">
                                <option value></option>
                                {% for id,value in data.names %}
                                <option value="{{id}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLanguage"
                            class="col-sm-2 col-form-label">{{ ('generic.fields.langue')|trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control autocomplete" name="languages[]" id="inputLanguage" multiple
                                data-placeholder="{{('autocomplete.select_multiple')|trans}}">
                                <option value></option>
                                {% for id,value in data.languages %}
                                <option value="{{id}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">{{ ('generic.fields.datation')|trans }}</label>
                        <div class="col">
                            <input type="number" step="1" class="form-control" name="datation[post_quem]"
                                id="inputPostQuem" placeholder="{{('datation.fields.post_quem')|trans}}">
                        </div>
                        <div class="col">
                            <input type="number" step="1" class="form-control" name="datation[ante_quem]"
                                id="inputAnteQuem" placeholder="{{('datation.fields.ante_quem')|trans}}">
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" name="datation[exact]"
                                    value="datation_exact" id="inputDatationExact" checked />
                                <label class="form-check-label" for="inputDatationExact">
                                    {{ ('generic.fields.strict')|trans }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLocation"
                            class="col-sm-2 col-form-label">{{ ('generic.fields.lieu')|trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control autocomplete" name="locations[]" id="inputLocation" multiple
                                data-placeholder="{{('autocomplete.select_multiple')|trans}}">
                                <option value></option>
                                {% for id,value in data.locations %}
                                <option value="{{id}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputSourceType" class="col-sm-2 col-form-label">{{ ('source.name')|trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control autocomplete" name="sourceTypes[]" id="inputSourceType" multiple
                                data-placeholder="{{('autocomplete.select_multiple')|trans}}">
                                <option value></option>
                                {% for id,value in data.sourceTypes %}
                                <option value="{{id}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAgents" class="col-sm-2 col-form-label">{{ ('agent.name')|trans }}</label>
                        <div class="col-sm-10">
                            <select class="form-control autocomplete" name="agents[]" id="inputAgents" multiple
                                data-placeholder="{{('autocomplete.select_multiple')|trans}}">
                                <option value></option>
                                <optgroup label="{{('agent.fields.activite')|trans}}">
                                    {% for id,value in data.agents.activites %}
                                    <option value="{{id}}">{{value}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="{{('agent.fields.agentivite')|trans}}">
                                    {% for id,value in data.agents.agentivites %}
                                    <option value="{{id}}">{{value}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button class="btn btn-primary mx-2" type="submit" name="search">
                                <i class="fas fa-search fa-fw"></i>
                                {{ 'generic.search'|trans }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
                Recherche avancée
            </div>
            <div class="tab-pane fade" id="elements" role="tabpanel" aria-labelledby="elements-tab">
                Recherche éléments
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" role="tab">
                    {{ ('search.coverage')|trans }}
                </a>
            </li>
        </ul>
        <div class="tab-content" id="coverageTab">
            <div class="tab-pane show active" role="tabpanel">
                Coverage
            </div>
        </div>
    </div>
</div>
{% if is_granted('ROLE_ADMIN') %}
<hr />
<div class="row">
    <div class="col-12 text-center">
        <button type="button" class="btn my-1 btn-danger" id="search-reindex" data-toggle="modal"
            data-target="#search-reindex-modal">
            <i class="fas fa-fw fa-sync"></i>
            {{ 'search.reindex'|trans }}
        </button>
        {% include "modals/confirmation.html.twig" with {
            'modalName': 'confirm_search_reindex',
            'uuid': 'search-reindex-modal',
            'targetUrl': url('search_reindex'),
            'confirmationLabel': 'generic.confirm',
            'useForm': false
        } %}
    </div>
</div>
{% endif %}

{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('search_page') }}
<script type="text/javascript">
    $(document).ready(function () {
        $('select.autocomplete').chosen(CHOSEN_SETTINGS);

        var url = document.location.toString();
        if (url.match('#')) {
            $('#searchTabLinks a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // Change hash for page-reload
        $('#searchTabLinks a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
    });
</script>
{% endblock %}