<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th scope="row">
                {{ 'source.name'|trans }}
            </th>
            <td>
                {% include "partials/_entitylink.html.twig" with {
                    'entity': 'source',
                    'link': url('source_show', {'id': attestation.source.id}),
                    'text': '#' ~ attestation.source.id
                } %}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'source_biblio.fields.edition_principale'|trans}}
            </th>
            <td>
                {{ attestation.source.editionPrincipaleBiblio is not empty ? attestation.source.editionPrincipaleBiblio.biblio.titreAbrege|raw : ''}}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'source.fields.source_biblio'|trans}}
            </th>
            <td>
                {{ attestation.source.editionPrincipaleBiblio is not empty ? attestation.source.editionPrincipaleBiblio.referenceSource|raw : ''}}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.etat_fiche'|trans}}
            </th>
            <td>
                {{ attestation.etatFiche is not empty ? attestation.etatFiche.getNom(locale) : '' }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.passage'|trans}}
            </th>
            <td>
                {{ attestation.passage }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.prose'|trans}}
            </th>
            <td>
                {% if attestation.prose %}
                <i class="fas fa-check fa-fw"></i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.poesie'|trans}}
            </th>
            <td>
                {% if attestation.poesie %}
                <i class="fas fa-check fa-fw"></i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.extrait_avec_restitution'|trans}}
            </th>
            <td>
                {{ attestation.extraitAvecRestitution|raw }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.translitteration'|trans}}
            </th>
            <td>
                {{ attestation.translitteration|raw }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'generic.fields.translations'|trans}}
            </th>
            <td class="p-0">
                {% if attestation.traductions is not empty %}
                <table class="table table-sm text-center mb-0">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'languages.fr'|trans }}</th>
                            <th scope="col">{{ 'languages.en'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for traduction in attestation.traductions %}
                        <tr>
                            <td>{{ traduction.nomFr }}</td>
                            <td>{{ traduction.nomEn }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'generic.fields.fiabilite'|trans}}
            </th>
            <td>
                {{ ('attestation.fiabilite.niveau_' ~ attestation.fiabiliteAttestation|default(0))|trans }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.pratiques'|trans}}
            </th>
            <td>
                {% for pratique in attestation.pratiques %}
                {{ pratique.getNom(locale) }}
                {% if not loop.last %}
                {{", "}}
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.occasions'|trans}}
            </th>
            <td class="p-0">
                {% if attestation.attestationOccasions is not empty %}
                <table class="table table-sm text-center mb-0">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'attestation.fields.categorie_occasion'|trans }}</th>
                            <th scope="col">{{ 'attestation.fields.occasion'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ao in attestation.attestationOccasions %}
                        <tr>
                            <td>
                                {{ ao.categorieOccasion is not empty ? ao.categorieOccasion.getNom(locale) : "" }}
                            </td>
                            <td>
                                {{ ao.occasion is not empty ? ao.occasion.getNom(locale) : "" }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.fields.materiel'|trans}}
            </th>
            <td class="p-0">
                {% if attestation.attestationMateriels is not empty %}
                <table class="table table-sm text-center mb-0">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'attestation.fields.categorie_materiel'|trans }}</th>
                            <th scope="col">{{ 'attestation.fields.materiel'|trans }}</th>
                            <th scope="col">{{ 'generic.fields.quantite'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for am in attestation.attestationMateriels %}
                        <tr>
                            <td>
                                {{ am.categorieMateriel is not empty ? am.categorieMateriel.getNom(locale) : "" }}
                            </td>
                            <td>
                                {{ am.materiel is not empty ? am.materiel.getNom(locale) : "" }}
                            </td>
                            <td>
                                {{ am.quantite }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.sections.agents'|trans}}
            </th>
            <td class="p-0">
                {% if attestation.agents is not empty %}
                <table class="table table-sm text-center mb-0">
                    <tbody>
                        {% for agent in attestation.agents %}
                        <tr>
                            <th scope="row" rowspan="{{ agent.estLocalisee ? 8 : 7}}">#{{ loop.index }}</th>
                            <th scope="row">{{ 'agent.fields.designation'|trans }}</th>
                            <td>{{ agent.designation|raw }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'agent.fields.agentivite'|trans }}</th>
                            <td>
                                {% for agentivite in agent.agentivites %}
                                {{ agentivite.getNom(locale) }}
                                {% if not loop.last %}
                                {{", "}}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'agent.fields.nature'|trans }}</th>
                            <td>
                                {% for nature in agent.natures %}
                                {{ nature.getNom(locale) }}
                                {% if not loop.last %}
                                {{", "}}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'agent.fields.genre'|trans }}</th>
                            <td>
                                {% for genre in agent.genres %}
                                {{ genre.getNom(locale) }}
                                {% if not loop.last %}
                                {{", "}}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'agent.fields.statut_affiche'|trans }}</th>
                            <td>
                                {% for statut in agent.statutAffiches %}
                                {{ statut.getNom(locale) }}
                                {% if not loop.last %}
                                {{", "}}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'agent.fields.activite'|trans }}</th>
                            <td>
                                {% for activite in agent.activites %}
                                {{ activite.getNom(locale) }}
                                {% if not loop.last %}
                                {{", "}}
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% if agent.estLocalisee %}
                        <tr>
                            <th scope="row">
                                {{ 'generic.fields.localisation'|trans}}
                            </th>
                            <td class="p-0">
                                {% include "display/localisation.html.twig" with {
                                    'localisation': agent.localisation
                                } %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">{{ 'generic.fields.commentaire'|trans }}</th>
                            <td>
                                {{ agent.getCommentaire(locale)|raw }}
                                <br />
                                <small>{{ agent.getCommentaire(locale == "fr" ? "en" : "fr")|raw }}</small>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </td>
        </tr>
        {% if attestation.estDatee %}
        <tr>
            <th scope="row">
                {{ 'generic.fields.datation'|trans}}
                <br />
                <small>
                    {{ 'generic.fields.precision'|trans }}: {{ attestation.fiabiliteDatation }}
                </small>
            </th>
            <td class="p-0">
                {% include "display/datation.html.twig" with {
                    'datation': attestation.datation
                } %}
            </td>
        </tr>
        {% endif %}
        {% if attestation.estLocalisee %}
        <tr>
            <th scope="row">
                {{ 'generic.fields.localisation'|trans}}
            </th>
            <td class="p-0">
                {% include "display/localisation.html.twig" with {
                    'localisation': attestation.localisation
                } %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row">
                {{ 'generic.fields.commentaire'|trans}}
            </th>
            <td>
                {{ attestation.getCommentaire(locale)|raw }}
                <br />
                <small>{{ attestation.getCommentaire(locale == "fr" ? "en" : "fr")|raw }}</small>
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.sections.elements'|trans}}
            </th>
            <td class="p-0">
                {% if attestation.contientElements is not empty %}
                <table class="table table-sm text-center mb-0">
                    <tbody>
                        {% for ce in attestation.contientElements %}
                        <tr>
                            <th scope="row" rowspan="7">#{{ ce.positionElement }}</th>
                            <th scope="row">{{ 'element.name'|trans }}</th>
                            <td>
                                {% include "partials/_entitylink.html.twig" with {
                                        'entity': 'element',
                                        'link': url('element_show', {'id': ce.element.id}),
                                        'text': '#' ~ ce.element.id ~ " " ~ (ce.element.etatAbsolu|raw|striptags)
                                    } %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'element.fields.en_contexte'|trans }}</th>
                            <td>{{ ce.enContexte|raw }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'element.fields.suffixe'|trans }}</th>
                            <td>
                                {% if ce.suffixe %}
                                <i class="fas fa-check fa-fw"></i>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'element.fields.etat_morphologique'|trans }}</th>
                            <td>{{ ce.etatMorphologique }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'element.fields.genre'|trans }}</th>
                            <td>{{ ce.genreElement is not empty ? ce.genreElement.getNom(locale) : '' }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'element.fields.nombre'|trans }}</th>
                            <td>{{ ce.nombreElement is not empty ? ce.nombreElement.getNom(locale) : '' }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'element.fields.categorie_contextuelle'|trans }}</th>
                            <td>{{ ce.categorieElement is not empty ? ce.categorieElement.getNom(locale) : '' }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'attestation.sections.formules'|trans}}
            </th>
            <td class="p-0">
                {% if attestation.formules is not empty %}
                <table class="table table-sm text-center mb-0">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'generic.fields.position'|trans }}</th>
                            <th scope="col">{{ 'formule.fields.formule'|trans }}</th>
                            <th scope="col">{{ 'generic.fields.createur'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formule in attestation.formules %}
                        <tr>
                            <td>#{{ formule.positionFormule }}</td>
                            <td class="formula-cell">{{ formule.formule }}</td>
                            <td>{{ formule.createur.prenomNom }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>