<table class="table table-striped table-sm mb-0">
    <tbody>
        <tr>
            <th scope="row">
                {{ 'datation.fields.post_quem'|trans}}
            </th>
            <td>
                {{ datation.postQuem }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'datation.fields.ante_quem'|trans}}
            </th>
            <td>
                {{ datation.anteQuem }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                {{ 'generic.fields.commentaire'|trans}}
            </th>
            <td>
                {{ datation.getCommentaire(locale)|raw }}
                <br />
                <small>{{ datation.getCommentaire(locale == "fr" ? "en" : "fr")|raw }}</small>
            </td>
        </tr>
    </tbody>
</table>