{% extends 'authenticated.html.twig' %}
{% block title %}
{{ ('source.' ~ action)|trans }}{{ source is defined ? ' #'~source.id : ''}}
{% endblock %}
{% block content %}

{{ form_start(form, {'attr' : {'id': 'source'}} ) }}
{{ form_errors(form) }}

<div class="row justify-content-center">
    <div class="col-sm-10 offset-sm-1 text-center">
        {% if action == 'edit' %}
        {% spaceless %}
        {{ 'generic.fields.date_creation'|trans }}&nbsp;:&nbsp;
        {{ source.dateCreation|date("locale_datetime"|trans) }}&nbsp;
        {{ 'generic.fields.by'|trans }}&nbsp;{{ source.createur.prenomNom }}
        {% endspaceless %}
        <br />
        {% spaceless %}
        {{ 'generic.fields.date_modification'|trans }}&nbsp;:&nbsp;
        {{ source.dateModification|date("locale_datetime"|trans) }}&nbsp;
        {{ 'generic.fields.by'|trans }}&nbsp;{{ source.dernierEditeur.prenomNom }}
        {% endspaceless %}
        <br />
        {{ 'source.fields.version'|trans }}&nbsp;{{ source.version }}&rarr;{{ source.version+1 }}
        {% endif %}
    </div>
    <div class="col-sm-1">
        {{ 'generic.fields.to_translate'|trans }} : {{ form_widget(form.traduireFr) }}{{ form_label(form.traduireFr)
        }}
        {{ form_widget(form.traduireEn) }} {{ form_label(form.traduireEn) }}
    </div>
</div>
<hr />
<section>
    {% include 'partials/_sectiontitle.html.twig' with {
        'title' : 'source.sections.informations_source',
        'collapseTarget' : '#section-infos',
        'expanded' : true
    } only %}
    <div class="collapse show" id="section-infos">
        {{ form_widget(form.typeCategorieSource) }}
        {{ form_row(form.langues) }}
        {{ form_row(form.titrePrincipal) }}
        {{ form_row(form.auteurs) }}
        {{ form_row(form.citation) }}
        {{ form_row(form.titresCites) }}
        {{ form_widget(form.typeCategorieMateriau) }}
        {{ form_widget(form.typeCategorieSupport) }}
        {{ form_row(form.urlTexte) }}
        {{ form_row(form.iconographie) }}
        {{ form_row(form.urlImage) }}
    </div>
</section>

<section>
    {% include 'partials/_sectiontitle.html.twig' with {
        'title' : 'source.sections.bibliographie',
        'collapseTarget' : '#section-bibliographie'
    } only %}
    <div class="collapse" id="section-bibliographie">
        {{ form_errors(form.sourceBiblios) }}
        {{ form_widget(form.sourceBiblios) }}
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <a href="#" id="add_sourcebiblio" class="btn btn-primary">
                    <i class="fa fa-plus"></i>&nbsp;
                    {{ 'source.add_sourcebiblio'|trans }}
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    {% include 'partials/_sectiontitle.html.twig' with {
        'title' : 'source.sections.datation',
        'collapseTarget' : '#section-datation'
    } only %}
    <div class="collapse" id="section-datation">
        {{ form_row(form.estDatee) }}
        <div class="row">
            <div class="col-sm-12 dependent_field_estdatee">
                {{ form_errors(form.datation) }}
                {{ form_widget(form.datation) }}
            </div>
        </div>
    </div>
</section>

<section>
    {% include 'partials/_sectiontitle.html.twig' with {
        'title' : 'source.sections.localisation',
        'collapseTarget' : '#section-localisation'
    } only %}
    <div class="collapse" id="section-localisation">
        {{ form_row(form.lieuDecouverte) }}
        {{ form_row(form.inSitu) }}
        {{ form_row(form.lieuOrigine) }}
    </div>
</section>

<section>
    {% include 'partials/_sectiontitle.html.twig' with {
        'title' : 'source.sections.commentaires',
        'collapseTarget' : '#section-commentaires'
    } only %}
    <div class="collapse" id="section-commentaires">
        {{ form_row(form.commentaireFr) }}
        {{ form_row(form.commentaireEn) }}
    </div>
</section>
<section>
    {% include 'partials/_sectiontitle.html.twig' with {
        'title' : 'source.sections.attestations',
        'collapseTarget' : '#section-attestations'
    } only %}
    <div class="collapse" id="section-attestations">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>

<hr />
<div class="form-group row">
    <div class="col-sm-12 text-center">
        <button class="btn btn-primary">{{ 'generic.save'|trans }}
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

{{ include('partials/_backtotop.html.twig') }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        // Gestion du champ collection
        $('div#source_sourceBiblios').collectionField({
            blockTitle: '{{ "source.fields.source_biblio_n"|trans }}',
            deleteLink: '{{ "generic.delete"|trans }}',
            addListener: function (newEl, idx) {
                // Gestion du champ "selectorcreate"
                $(newEl).find('.selectorcreate').selectOrCreate();
                // Gestion du champ "main source"
                $('label.mainsource_field').siblings('input[type=checkbox]').off('change');
                $('label.mainsource_field').siblings('input[type=checkbox]').on('change', function (e) {
                    if ($(this).is(':checked')) {
                        $('label.mainsource_field').siblings('input[type=checkbox]')
                            .not(this)
                            .prop('checked', false);
                    }
                });
                if (idx == 1) {
                    $(newEl).find('label.mainsource_field').siblings('input[type=checkbox]').prop('checked', true);
                }
            }
        });

        // Gestion du champ "selectorcreate"
        $('.selectorcreate').selectOrCreate();
        // Gestion des champs select avec filtres
        $('select.autocomplete').chosen({
            disable_search_threshold: 10,
            no_results_text: "{{ 'autocomplete.no_matches'|trans }}",
            allow_single_deselect: true,
            group_search: false,
            display_selected_options: false,
            include_group_label_in_selected: true
        });
        // Gestion des champs dépendants
        $.fn.dependentFields(['quote', 'iconography', 'insitu', 'estdatee']);
        // Gestion des combobox liées
        $('#source_typeCategorieSource').dependentSelects({
            data_url: "{{ url('data_type_source') }}"
        });
        $('#source_typeCategorieSupport').dependentSelects({
            data_url: "{{ url('data_type_support') }}"
        });
        $('#source_typeCategorieMateriau').dependentSelects({
            data_url: "{{ url('data_materiau') }}"
        });

        //Gestion des recherches Pleiades
        $('.pleiades_search').on('click', function (e) {
            e.preventDefault();
            var btn = $(this),
                errorEl = $(this).parents('.input-group').siblings('.pleiades-error'),
                input = $(this).parent().siblings('input[type=number]');


            if (input.val() !== "") {
                // Display loader
                btn.prepend($('<i class="fas fa-spinner fa-pulse mr-2"></i>'));
                // Empty error message
                errorEl.text('');


                var rootForm = $(this).parents('.localisation_form'),
                    labelId = $(this).parent().parent().parent().siblings('label').attr('id'),
                    labelSeg = labelId.split('_'),
                    fields = {};

                // Get the fields to fill if the request is successful
                rootForm.find('.pleiades_field').each(function () {
                    var seg = $(this).attr('id').split('_');
                    if (seg[0] == labelSeg[0] && seg[1] == labelSeg[1]) {
                        fields[seg[2]] = $(this).siblings().find('input');
                    }
                });

                $.getJSON("http://pleiades.stoa.org/places/" + input.val() + "/json")
                    .done(function (data) {
                        if (fields.hasOwnProperty('nom'))
                            fields.nom.attr('disabled', true).val(data.title);
                        if (fields.hasOwnProperty('longitude'))
                            fields.longitude.attr('disabled', true).val(data.reprPoint[0]);
                        if (fields.hasOwnProperty('latitude'))
                            fields.latitude.attr('disabled', true).val(data.reprPoint[1]);
                        input.attr('disabled', true);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        var error = "{{'generic.messages.error_unknown'|trans}}";
                        if (errorThrown === "Not Found") {
                            error = "{{'generic.messages.error_not_found'|trans}}";
                        }
                        errorEl.text(error);
                        input.val('');
                    })
                    .always(function () {
                        btn.find('i').remove();
                    });
            }

            return false;
        });
        $('.pleiades_clear').on('click', function (e) {
            e.preventDefault();
            var rootForm = $(this).parents('.localisation_form'),
                labelId = $(this).parent().parent().parent().siblings('label').attr('id'),
                labelSeg = labelId.split('_'),
                fields = {};

            rootForm.find('.pleiades_field').each(function () {
                var seg = $(this).attr('id').split('_');
                if (seg[0] == labelSeg[0] && seg[1] == labelSeg[1]) {
                    $(this).siblings().find('input').attr('disabled', false).val('');
                }
            });
            $(this).parent().siblings('input[type=number]').val('').attr('disabled', false);
            return false;
        });
        $('.pleiades_view').on('click', function (e) {
            var id = parseInt($(this).parent().siblings('input[type=number]').val(), 10);
            console.log(id);
            if (Number.isNaN(id) || id == 0) {
                e.preventDefault();
                return false;
            }
            $(this).attr('href', "https://pleiades.stoa.org/places/" + id);
        });
    });
</script>
{% endblock %}