{% extends 'authenticated.html.twig' %}
{% block title %}
{{ ('source.' ~ action)|trans }}{{ source is defined ? ' #'~source.id : ''}}
{% endblock %}
{% block content %}

{{ form_start(form, {'attr' : {'id': 'source'}} ) }}
{{ form_errors(form) }}

<div class="row justify-content-center">
    <div class="col-sm-6 text-center">
        {% if action == 'edit' %}
        {% spaceless %}
        {{ 'generic.fields.date_creation'|trans }}&nbsp;:&nbsp;
        {{ source.dateCreation|date("locale_datetime"|trans) }}&nbsp;
        {{ 'generic.fields.by'|trans }}&nbsp;{{ source.createur.prenomNom }}
        {% endspaceless %}
        <br />
        {% spaceless %}
        {{ 'generic.fields.date_modification'|trans }}&nbsp;:&nbsp;
        {{ source.dateModification|date("locale_datetime"|trans) }}&nbsp;
        {{ 'generic.fields.by'|trans }}&nbsp;{{ source.dernierEditeur.prenomNom }}
        {% endspaceless %}
        <br />
        {{ 'source.fields.version'|trans }}&nbsp;{{ source.version }}&rarr;{{ source.version+1 }}
        <hr />
        {% endif %}
        {{ 'generic.fields.to_translate'|trans }} : {{ form_widget(form.traduireFr) }}{{ form_label(form.traduireFr)
        }}
        {{ form_widget(form.traduireEn) }} {{ form_label(form.traduireEn) }}
    </div>
</div>
<h3 class="form-section-title">
    {{ 'source.sections.informations_source'|trans }}
</h3>
{{ form_row(form.typeSource) }}
{{ form_row(form.langues) }}
{{ form_row(form.titrePrincipal) }}
{{ form_row(form.auteurs) }}
{{ form_row(form.citation) }}
{{ form_row(form.titresCites) }}
{{ form_row(form.materiau) }}
{{ form_row(form.typeSupport) }}
{{ form_row(form.urlTexte) }}
{{ form_row(form.iconographie) }}
{{ form_row(form.urlImage) }}

<h3 class="form-section-title">
    {{ 'source.sections.bibliographie'|trans }}
</h3>
{{ form_errors(form.sourceBiblios) }}
{{ form_widget(form.sourceBiblios) }}
<div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
        <a href="#" id="add_sourcebiblio" class="btn btn-primary">
            <i class="fa fa-plus"></i>&nbsp;
            {{ 'source.add_sourcebiblio'|trans }}
        </a>
    </div>
</div>

<h3 class="form-section-title">
    {{ 'source.sections.datation'|trans }}
</h3>
{{ form_errors(form.datation) }}
{{ form_widget(form.datation) }}

<h3 class="form-section-title">
    {{ 'source.sections.localisation'|trans }}
</h3>
{{ form_row(form.lieuDecouverte) }}
{{ form_row(form.inSitu) }}
{{ form_row(form.lieuOrigine) }}

<h3 class="form-section-title">
    {{ 'source.sections.commentaires'|trans }}
</h3>
{{ form_row(form.commentaireFr) }}
{{ form_row(form.commentaireEn) }}

<h3 class="form-section-title">
    {{ 'source.sections.attestations'|trans }}
</h3>
<br>
<br>
<br>

<hr />
<div class="form-group row">
    <div class="col-sm-12 text-center">
        {{ form_widget(form.save) }}
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        // Gestion de l'ajout d'une référence supplémentaire
        $('div#source_sourceBiblios').collectionField({
            blockTitle: '{{ "source.fields.source_biblio_n"|trans }}',
            deleteLink: '{{ "generic.delete"|trans }}'
        });
        $('div#source_sourceBiblios').on('collectionField.add', function (e, newEl) {
            $(newEl).find('.selectorcreate').selectOrCreate();
            $('label.mainsource_field').siblings('input[type=checkbox]').off('change');
            $('label.mainsource_field').siblings('input[type=checkbox]').on('change', function (e) {
                if ($(this).is(':checked')) {
                    $('label.mainsource_field').siblings('input[type=checkbox]')
                        .not(this)
                        .prop('checked', false);
                }
            });
        });

        $('.selectorcreate').selectOrCreate();
        $('select.autocomplete').chosen({
            disable_search_threshold: 10,
            no_results_text: "{{ 'autocomplete.no_matches'|trans }}",
            allow_single_deselect: true,
            group_search: false,
            display_selected_options: false,
            include_group_label_in_selected: true
        });
        $.fn.dependentFields(['quote', 'iconography', 'insitu']);
    });
</script>
{% endblock %}