{% extends 'authenticated.html.twig' %}
{% block title %}
{{ ('source.' ~ action)|trans }}{{ source is defined ? ' #'~source.id : ''}}
{% endblock %}
{% block content %}

{{ form_start(form, {'attr' : {'id': 'source'}} ) }}
{{ form_errors(form) }}

<div class="row justify-content-center">
    <div class="col-sm-6 text-center">
        {% if action == 'edit' %}
        {% spaceless %}
        {{ 'generic.fields.date_creation'|trans }}&nbsp;:&nbsp;
        {{ source.dateCreation|date("locale_datetime"|trans) }}&nbsp;
        {{ 'generic.fields.by'|trans }}&nbsp;{{ source.createur.prenomNom }}
        {% endspaceless %}
        <br />
        {% spaceless %}
        {{ 'generic.fields.date_modification'|trans }}&nbsp;:&nbsp;
        {{ source.dateModification|date("locale_datetime"|trans) }}&nbsp;
        {{ 'generic.fields.by'|trans }}&nbsp;{{ source.dernierEditeur.prenomNom }}
        {% endspaceless %}
        <br />
        {{ 'source.fields.version'|trans }}&nbsp;{{ source.version }}&rarr;{{ source.version+1 }}
        <hr />
        {% endif %}
        {{ 'generic.fields.to_translate'|trans }} : {{ form_widget(form.traduireFr) }}{{ form_label(form.traduireFr)
        }}
        {{ form_widget(form.traduireEn) }} {{ form_label(form.traduireEn) }}
    </div>
</div>
<h3 class="form-section-title">
    {{ 'source.sections.informations_source'|trans }}
</h3>
{{ form_row(form.titrePrincipal) }}
{{ form_row(form.auteurs) }}
{{ form_row(form.langues) }}
{{ form_row(form.typeSource) }}
{{ form_row(form.materiau) }}
{{ form_row(form.typeSupport) }}
{{ form_row(form.citation) }}
{{ form_row(form.titresCites) }}
{{ form_row(form.urlTexte) }}
{{ form_row(form.urlImage) }}
{{ form_row(form.inSitu) }}
{{ form_row(form.commentaireSourceFr) }}
{{ form_row(form.commentaireSourceEn) }}
<h3 class="form-section-title">
    {{ 'source.sections.localisation'|trans }}
</h3>
<h3 class="form-section-title">
    {{ 'source.sections.datation'|trans }}
</h3>
{{ form_errors(form.datation) }}
{{ form_widget(form.datation) }}
<h3 class="form-section-title">
    {{ 'source.sections.bibliographie'|trans }}
</h3>
{{ form_errors(form.sourceBiblios) }}
{{ form_widget(form.sourceBiblios) }}

<div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
        <a href="#" id="add_sourcebiblio" class="btn btn-primary">
            <i class="fa fa-plus"></i>&nbsp;
            {{ 'source.add_sourcebiblio'|trans }}
        </a>
    </div>
</div>

<hr />
<div class="form-group row">
    <div class="col-sm-12 text-center">
        {{ form_widget(form.save) }}
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        function setupAutocomplete(selector) {
            selector.chosen({
                disable_search_threshold: 10,
                no_results_text: "{{ 'autocomplete.no_matches'|trans }}",
                allow_single_deselect: true,
                group_search: false,
                display_selected_options: false,
                include_group_label_in_selected: true
            });
        }
        setupAutocomplete($('select.autocomplete'));

        // Gestion des champs qui dépendent de la checkbox "citation"
        $('#source_citation').on('change', function (e) {
            toggleQuoteFields($(this).is(':checked'));
        });

        function toggleQuoteFields(display) {
            $('.quote_dependent').parent('.row')[(display ? "slideDown" : "slideUp")](300);
        }
        toggleQuoteFields($('#source_citation').is(':checked'));

        // Gestion de l'ajout d'une référence supplémentaire
        var container = $('div#source_sourceBiblios');
        var index = container.children('.form-group').length;

        $('#add_sourcebiblio').click(function (e) {
            addReference(container);
            e.preventDefault();
            return false;
        });

        if (index == 0) {
            addReference(container);
        } else {
            container.children('.form-group').each(function () {
                addDeleteLink($(this));
                toggleCreationSelection($(this), 'biblio', false);
                toggleCreationSelection($(this), 'corpus', false);
            });
        }

        function setupCreationSelection(target) {
            $('label.' + target + '_creation_field').siblings('input[type=radio]').on('change', function (e) {
                var radioName = $(this).attr('name');
                var groupIndex = radioName.match(/\d+/)[0];
                var radioValue = $("input[name='" + radioName + "']:checked").val();
                if (radioValue) {
                    toggleCreationSelection(
                        $(this).parents('#source_sourceBiblios_' + groupIndex),
                        target,
                        radioValue === 'yes'
                    );
                }
            });
        }

        function toggleCreationSelection(parent, target, creation) {
            parent.find('.' + target + '_creation_no').parent('.form-group')[(creation === false ? "slideDown" :
                "slideUp")](300);
            parent.find('.' + target + '_creation_yes').parent('.form-group')[(creation === true ? "slideDown" :
                "slideUp")](300);
        }

        function addReference(container) {
            $('label.mainsource_field').siblings('input[type=checkbox]').off('change');
            $('label.biblio_creation_field').siblings('input[type=radio]').off('change');
            $('label.corpus_creation_field').siblings('input[type=radio]').off('change');
            var template = container.attr('data-prototype')
                .replace(/__name__label__/g, '{{ "source.fields.source_biblio_n"|trans }}' + (index + 1))
                .replace(/__name__/g, index);

            var prototype = $(template);

            var label = prototype.find('#source_sourceBiblios_' + index).find('.remove_this_label');
            label.siblings('.col-sm-10').removeClass('col-sm-10').addClass('col-sm-12');
            label.hide();

            prototype.children('legend')
                .removeClass('col-sm-2 col-form-label')
                .addClass('col-sm-12 text-center h4');
            prototype.children('.col-sm-10')
                .removeClass('col-sm-10')
                .addClass('col-sm-12');

            addDeleteLink(prototype);
            container.append(prototype);
            index++;

            $('label.mainsource_field').siblings('input[type=checkbox]').on('change', function (e) {
                if ($(this).is(':checked')) {
                    $('label.mainsource_field').siblings('input[type=checkbox]')
                        .not(this)
                        .prop('checked', false);
                }
            });
            setupCreationSelection('biblio');
            setupCreationSelection('corpus');
            toggleCreationSelection(prototype, 'biblio', null);
            toggleCreationSelection(prototype, 'corpus', null);
            setupAutocomplete(prototype.find('select.autocomplete'));
        }

        function addDeleteLink(prototype) {
            var deleteLink = $(
                '<a href="#" class="btn btn-danger">{{ "source.delete_sourcebiblio"|trans }}</a>'
            );
            prototype.children('.col-sm-10').append(deleteLink);
            deleteLink.click(function (e) {
                e.preventDefault();
                prototype.remove();
                return false;
            });
        }
    });
</script>
{% endblock %}