{% extends 'authenticated.html.twig' %}
{% block title %}
{{ 'sources.list'|trans }}
{% endblock %}
{% block content %}
<table class="table table-striped table-hover table-bordered w-100 text-center" id="source_list">
    <thead>
        <tr>
            <th scope="col">
                {{ 'generic.fields.id'|trans }}
            </th>
            <th scope="col">
                {{ 'sources.fields.type_source'|trans }}
            </th>
            <th scope="col">
                {{ 'sources.fields.categorie_source'|trans }}
            </th>
            <th scope="col">
                {{ 'sources.fields.titre_principal'|trans }}
            </th>
            <th scope="col">
                {{ 'sources.fields.langues'|trans }}
            </th>
            <th scope="col">
                {{ 'biblio.fields.titre_abrege'|trans }}
            </th>
            <th scope="col">
                {{ 'sources.fields.reference_bibliographique'|trans }}
            </th>
            <th scope="col">
                {{ 'sources.fields.createur'|trans }}
            </th>
            <th scope="col">
                {{ 'sources.fields.dernier_editeur'|trans }}
            </th>
            <th scope="col">
                {{ 'generic.fields.date_modification'|trans }}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for source in sources %}
        <tr>
            <th scope="row">
                <a href="#">{{ source.id }}</a>
            </th>
            <td>
                {{ source.typeSource is not null ? source.typeSource.nom(locale) : "" }}
            </td>
            <td>
                {{ source.categorieSource is not null ? source.categorieSource.nom(locale) : "" }}
            </td>
            <td>
                {{ source.titrePrincipal is not null ? source.titrePrincipal.nom(locale) : "" }}
            </td>
            <td>
                {{ source.concatLangues(locale) }}
            </td>
            <td></td>
            <td></td>
            <td>
                {{ source.createur.prenomNom }}
            </td>
            <td>
                {{ source.dernierEditeur.prenomNom }}
            </td>
            <td>
                {{ source.dateModification|date("locale_datetime"|trans) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>{{ 'generic.fields.id'|trans }}</th>
            <th>{{ 'sources.fields.type_source'|trans }}</th>
            <th>{{ 'sources.fields.categorie_source'|trans }}</th>
            <th>{{ 'sources.fields.titre_principal'|trans }}</th>
            <th>{{ 'sources.fields.langues'|trans }}</th>
            <th>{{ 'biblio.fields.titre_abrege'|trans }}</th>
            <th>{{ 'sources.fields.reference_bibliographique'|trans }}</th>
            <th>{{ 'sources.fields.createur'|trans }}</th>
            <th>{{ 'sources.fields.dernier_editeur'|trans }}</th>
            <th>{{ 'generic.fields.date_modification'|trans }}</th>
        </tr>
    </tfoot>
</table>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#source_list tfoot th').each(function () {
            var title = $(this).text();
            $(this).html(
                '<input type="text" class="w-100" placeholder="{{"generic.search"|trans}}' +
                ' ' + title + '" />'
            );
        });
        var dt = $('#source_list').DataTable({
            //autoWidth: true,
            lengthChange: true,
            scrollX: true,
            searching: true,
            ordering: true,
            order: [
                [9, 'desc']
            ],
            language: $.parseJSON('{{ "datatable.language"|trans|raw }}'),
            pageLength: 10,
            lengthMenu: [
                [
                    10, 25, 50, -1
                ],
                [
                    10, 25, 50, "{{'datatable.all'|trans}}"
                ]
            ]
        });
        $('#source_list_wrapper select').removeClass('custom-select');
        $('#source_list tbody td').on('click', function () {
            $(this).children('th > a').click();
        });
        dt.columns().every(function () {
            var me = this;
            $('input', this.footer()).on('keyup change', function () {
                if (me.search() !== this.value) {
                    me.search(this.value).draw();
                }
            })
        });
    });
</script>
{% endblock %}