{% extends 'page.html.twig' %}
{% block title %}
    {{ ('source.view')|trans({'%id%': source.id}) }}
{% endblock %}
{% block content %}
    {% if is_granted('ROLE_MODERATOR') or source.createur.id == app.user.id %}
        <div class="text-center">
            <a href="{{ url('source_edit', {'id': source.id}) }}" class="btn btn-sm my-1 btn-warning">
                <i class="fas fa-fw fa-edit"></i>
                {{ 'generic.edit'|trans }}
            </a>
            <br/>
            <u>{{ 'generic.fields.lien_direct'|trans }}:</u>
            <a href="{{ app.request.uri }}">{{ app.request.uri }}</a>
        </div>
    {% endif %}
    <hr/>
    {% include "display/source.html.twig" with {'source': source} %}
    <hr/>
    <div class="row">
        <div class="col-12 text-center">
            <a href=" {{ url('source_list') }}" class="btn btn-secondary">{{ 'generic.back'|trans }}</a>
        </div>
    </div>
{% endblock %}
